body {
    width: 17%; 
}

main {
    max-height: 400px;
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
}

main::-webkit-scrollbar {
    width: 0;
}

.menu_list_wrapper {
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    width: min-content;
}

.token:not(:last-child()) {
    border-bottom: 1px solid black;
}

.preshow_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.preshow_menu_list li{
    list-style-type: none;
}

.preshow {
    position: relative;
    padding: 5px 15px;
}

.show {
    display: block;
}

.deactive {
    display: none;
}

.preshow_textarea {
    width: 100%;
    max-height: 40px;
    overflow: hidden;
}

#Flat {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}
#Flat:hover {
    cursor: pointer;
}

#Flat:active {
    scale: 90%;
}